{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card shadow">

        <div class="card-header">

            <h3>Agregar Cliente</h3>

        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label>Nombre</label>

                    <input
                        type="text"
                        name="nombre"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Teléfono</label>

                    <input
                        type="text"
                        name="telefono"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label>Dirección</label>

                    <input
                        type="text"
                        name="direccion"
                        class="form-control"
                        required>

                </div>

                <button
                    class="btn btn-success">

                    Guardar

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}